* {   
    margin: 0;
    padding:0;
  } 
  #contenedor{
    width: 1600px;
    height: 1100px;
    background-color: white;
    margin: 0px auto;
    padding-top: 50px;
  }
  #header {
    height: 12%;
    background-color: white;
    border-radius: 1em;
    margin: 1em;  
  }
  #nav {
    height: 8%;
    background-color: rgb(115, 201, 235);
    border-radius: 1em;
    margin: 1em;  
  }
  #nav2 {
    height: 8%;
    background-color: rgb(178, 209, 221);
    border-radius: 1em;
    margin: 1em;  
  }
  #contenido{
      height: 35%;
      background-color: white;
      margin: 1em;
  }
  #footer{
    height: 15%;
    background-color: rgb(115, 201, 235);
    border-radius: 1em;
    margin: 1em;
}
#section{
    height: 85%;
    width: 43%;
    background-color: white;
    border-radius: 1em;
    float:left;
    margin: 0.5em;
}
#aside{
    height:85%;
    width: 53%;
    background-color: white;
    border-radius: 1em;
    float: right;
    margin: 0.5em;
}

.articulo{
    width: 80%;
    height: 85%;
    background-color: white;
    margin: 1em;
    border-radius: 1em;
    float: center;
}
#logo{
   
    margin: 1em;
    border-radius: 1em;
    float: left;
}
#logoBanner{
  margin: 1em;
  border-radius: 1em;
  float:left;
  width: 10%;
  height: 75%;
}
#titulo{
    margin: 1em;
    border-radius: 1em;
    color: rgb(25, 25, 136);
    text-align: center;
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px; 
}
.aNavegacion{
    margin: 1em;
    border-radius: 1em;
    color: rgb(104, 104, 112);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;   
    float: left;
}
.aNavegacion:hover {
    color: #b4343b;
  }
  #Leyenda {
    color:#524c56;
    font-family: verdana;
    font-size: 20px;
    padding: 3%;
    line-height: 155%;
    text-align: justify;
  }
  h2 {
    color: rgb(25, 25, 136);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    padding: 3%;
  }
  h3 {
    color: rgb(25, 25, 136);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    padding: 3%;
  }
  .parrafo2 {
    color: rgb(25, 25, 136);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    float: center;
  }
  .articuloPie{
    width: 25%;
    height: 60%;
    background-color: rgb(115, 201, 235);
    margin: 1em;
    border-radius: 1em;
    float: left;
}
.articuloPie2{
    width: 25%;
    height: 60%;
    background-color: rgb(115, 201, 235);
    margin: 1em;
    border-radius: 1em;
    float: right;
}